#image {
    border: solid 5px red;
    padding: 30 px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: bisque;
    margin: 70PX;
}
.text{
    background-color: aquamarine;
}
.imagediv{
    background-color: rgb(0, 21, 255);
}